.container {
  display: grid;
  gap: 1px;
  background-color: var(--border-color);
  border: var(--border-main);
}

.header {
  background-color: var(--bg-sub1);
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}

.cell {
  min-width: 100px;
  padding: 2px;
  margin: 0;
  background-color: var(--bg-main);
  white-space: nowrap;
}

.readonly,
.input {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  font-family: monospace;
  font-size: 0.9rem;
  outline: none;
  text-overflow: ellipsis;
  pointer-events: all;
}

/* 数字の右寄せ用 */
.alignRight {
  text-align: right;
}

/* number入力の矢印を非表示にする（Chrome, Safari） */
.input[type='number']::-webkit-inner-spin-button,
.input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefoxのnumber入力の矢印も消す */
.input[type='number'] {
  -moz-appearance: textfield;
}

.input:disabled {
  color: var(--font-disabled);
}
