.row {
  display: grid;
  grid-template-columns: 1fr 5fr auto 5fr;
  gap: 8px;
}

.marged {
  background-color: rgba(25, 100, 25, .2);
}

.diff {
  background-color: rgba(100, 25, 25, .2);
}

.value {
  color: var(--font-disabled);
}

.value.diffText {
  color: #dc2626;
  /* red-600 */
}

.value.peepa {
  color: var(--font-main);
}
